table, th
{
	border: 1px solid black;
	padding: 5px;
}
td
{
	border: 1px solid black;
	padding: 5px;
	width: 100px;
}
/*tbody td:nth-of-type(odd)

{
	background:rgba(255, 100, 160, 0.5);
}
tbody td:nth-of-type(even)


{
	background:rgba(10, 100, 255, 0.5);
}*/
hr
{
	height: 2px;

	color: rgb(0,0,100);
}

table 
{
	border-collapse: collapse;
}


#confirmtable
{
	position: relative;

}

#reviewbutton
{
	position:relative;
	top: 300px;
}

.marginhead
{
	width:120px;
}

.side 
{
	/*background: rgb(196, 189, 151);*/
	width:120px;
}

#title10mbs, #title20mbs, #title30mbs, #title40mbs, #title50mbs, #title100mbs
{
	font-weight:bold;
}




