table, th
{
	border: 1px solid black;
	padding: 5px;
}
td
{
	border: 1px solid black;
	padding: 5px;
	width: 100px;
}
tbody td:nth-of-type(odd)

{
	background:rgba(255, 100, 160, 0.5);
}
tbody td:nth-of-type(even)


{
	background:rgba(10, 100, 255, 0.5);
}
hr
{
	height: 2px;

	color: rgb(0,0,100);
}

table 
{
	border-collapse: collapse;
}
input[type="text"]
{
	border:0px;
	width:90px;
	background: rgba(255, 255, 255, 0.1);
}

#postcode, #ticket, #reference
{
	border: 1px solid gray;
}

#extrainfo
{
	position: relative;
	top: -80px;
	left: 200px;
}

#extrainfo2
{
	position:relative;
	top: -200px;
	left:350px;
}


.marginhead
{
	width:120px;
}

.side 
{
	background: rgb(196, 189, 151);
	width:120px;
}


#margins
{
	position: relative;
	top: -150px;
}

#title10mbs, #title20mbs, #title30mbs, #title40mbs, #title50mbs, #title100mbs
{
	font-weight:bold;
}

#title
{
	font-weight: bold;
	font-size: 21px;
}
#basehist
{
	position:relative;
	left: 250px;
	top: 10px;
	width: 220px;
	padding: 5px;
	border: 3px solid gray;
}
#bases
{
	position: relative;
	left: 50px;
	top: 150px;
}
