table, th
{
	border: 1px solid black;
	padding: 5px;
}
td
{
	border: 1px solid black;
	padding: 5px;
	width: 100px;
}
hr
{
	height: 2px;

	color: rgb(0,0,100);
}
tbody td:nth-of-type(odd)

{
	background:rgba(255, 100, 160, 0.5);
}
tbody td:nth-of-type(even)


{
	background:rgba(10, 100, 255, 0.5);
}

input[type="text"]
{
	border:0px;
	width:80px;
	background: rgba(255, 255, 255, 0.2);
}
 
#postcode, #ticket, #reference
{
	border: 1px solid gray;
}

#extrainfo
{
	position: relative;
	top: -120px;
	left: 300px;
}

#extrainfo2
{
	position:relative;
	top: -245px;
	left:450px;
}
.resulttable
{
	position:relative;
	top: -170px;
}
table 
{
	border-collapse: collapse;
}

.0martable
{
	position: relative;
	top: 50px;

}
.1martable
{
	position: relative;
	top: 100px;
	left: 700px;

}
.inputtext
{
	border:0px;
	width:90px;
}


.marginhead
{
	width:120px;
}

.side 
{
	background: rgb(196, 189, 151);
	width:120px;
}


.baseinput
{
	border:1px solid rgb(171, 173, 179);
	width: 60px;
	padding: 2px;

}



#title10mbs, #title20mbs, #title30mbs, #title40mbs, #title50mbs, #title100mbs
{
	font-weight: bold;
}

#title
{
	font-weight: bold;
	font-size: 21px;
}
#basehist
{
	position:absolute;
	left: 250px;
	top: 10px;
	width: 220px;
	padding: 5px;
	border: 3px solid gray;
}
#bases
{
	position: absolute;
	left: 50px;
	top: 150px;
}
