table, th, td
{
	border: 1px solid black;
	padding: 5px;
}



hr
{
	height: 2px;
	background:rgb(0,0,100);
	color: rgb(0,0,100);
}

table 
{
	border-collapse: collapse;
}

#bvform
{
	position: relative;
	top: 50px;
	left: 30px;
}

#title
{
	font-weight: bold;
	font-size: 21px;
}
#basehist
{
	position:absolute;
	left: 250px;
	top: 10px;
	width: 220px;
	padding: 5px;
	border: 3px solid gray;
}
#bases
{
	position: absolute;
	left: 30px;
	top: 120px;
}